$primary-color: #3498db;
$secondary-color: #2ecc71;

//  membuat gradient latar belakang
@mixin gradient-background($color-1, $color-2) {
    background: linear-gradient(to right, $color-1, $color-2);
}

//  membuat box shadow
@mixin box-shadow($x, $y, $blur, $color) {
    box-shadow: $x $y $blur $color;
}

//  style box
@mixin box-style($color) {
    background-color: $color;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    color: white;
}

// style judul
@mixin title-style {
    font-size: 24px;
    margin-bottom: 10px;
}

//  style konten
@mixin content-style {
    font-size: 18px;
}

//  style list
@mixin list-style {
    list-style-type: disc;
    margin-left: 20px;
}

// Gaya untuk header
header {
    text-align: center;
    padding: 50px 0;
}

// Perulangan untuk mengatur gaya setiap section
@for $i from 1 through 2 {
    .section-background-#{$i} {
        display: flex;
        justify-content: center;
        align-items: stretch;
        padding: 50px;

        .content {
            flex: 1;
        }

        .box-#{$i} {
            flex: 1;
            @include box-style(if($i == 1, $primary-color, $secondary-color));
            @include gradient-background(
                darken(if($i == 1, $primary-color, $secondary-color), 10%),
                if($i == 1, $primary-color, $secondary-color)
            );
            .content {
                margin: auto;
            }
        }
    }
}

// Gaya untuk judul
h2 {
    @include title-style;
}

// Gaya untuk konten
p {
    @include content-style;
}

// Gaya untuk list
ul {
    @include list-style;
}

// Efek hover pada box
.box-1:hover,
.box-2:hover {
    @include box-shadow(5px, 5px, 10px, rgba(0, 0, 0, 0.3));
}

// Responsif
@media screen and (max-width: 768px) {
    main {
        flex-direction: column;
    }
    .section-background-1,
    .section-background-2 {
        flex-direction: column;
        text-align: center;
    }
}
