// Variabel global
$primary-color: blue;
$secondary-color: gray;
$font-stack: Helvetica, sans-serif;

// Penggunaan variabel global
body {
    font: 100% $font-stack;
}

h1 {
    color: $primary-color;
}

h3 {
    color: $secondary-color;
}

li {
    $primary-color: red; // variabel scope
    color: $primary-color;
    margin-bottom: 5px;
    $font-stack: Times, sans-serif; // variabel scope
    font: 100% $font-stack;
}


